<nav class="navigation">
  <ul>
    <li>
      <a class="home" href="{{site.url}}#home">
        <i class="fa fa-home"></i>
        Homepage
      </a>
    </li>
    <li>
      <a class="portfolio"  href="{{site.url}}#portfolio">
        <i class="fa fa-suitcase"></i>
        Portfolio
      </a>
    </li>
    <li>
      <a class="blog" href="{{site.url}}#blog">
        <i class="fa fa-edit"></i>
        Blog
      </a>
    </li>
    <li>
      <a class="contact" href="{{site.url}}#contact">
        <i class="fa fa-address-card-o"></i>
        Contact
      </a>
    </li>
  </ul>
</nav>
