<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav-blog.html %}
    {% if page.image %}
    <section class="hero image-container black top-hero">
      <img src="{{ page.image }}"/>
    </section>
    {% endif %}
    <section class="hero">
      <div class="container">
        <h3>{{page.title}}</h3>
        <h5>
          <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        </h5>
        {% if page.soundcloud %}
          <iframe class="hero" width="100%" height="450" scrolling="no" frameborder="no" src="{{ page.soundcloud }}">
          </iframe>
        {% endif %}
        {{ content }}
      </div>
    </section>
    <section class="hero comments">
      <div class="container">
        <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="12"></div>
      </div>
    </section>
    {% include footer.html %}
  </body>
